img {
    border: 5px solid white;
    width: 100%;
}

div {
    text-align: center;
    margin: auto;
    width: 50%;
    background-color: black;
    padding-top: 25px;
}

h1 {
    text-transform: uppercase;
}

h1, p {
    color: white;
    font-family: 'Libre Baskerville';
}

* {
    background-color: black;
}